:root {
  --color-primary: #1b3b52;
  --color-secondary: #306082;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  place-content: center;
  background-image: linear-gradient(to top, var(--color-primary)50%, var(--color-secondary));
}

canvas {
  background-color: var(--color-secondary);
  border: 5px solid var(--color-primary);
  border-radius: 5px;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .kore {
  position: absolute;
  width: 46px;
  height: 42px;
  background-image: url(./assets/mascote.png);
  top: -25px;
} */