name: Deploy Vite

on:
  push:
    tags:
      - v*.*.*

permissions:
  pages: write
  id-token: write

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: "10.28.1"
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install
    
    - name: Build Engine and Examples
      run: | 
        pnpm -r --sort --filter @framekore-engine/core build
        pnpm --filter plataform-game build --base "${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER}"
    - name: Build Docs
      run: pnpm build:docs
    
    - name: Organizar Arquivos para Deploy
      run: |
        mkdir -p deploy-dist
        cp -r ./docs/.vitepress/dist/* deploy-dist/
        
        mkdir -p deploy-dist/examples/platform
        
        cp -r ./examples/PlataformGame/dist/* deploy-dist/examples/platform/

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with: 
        path: './deploy-dist'

  deploy:

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4